# Limit resources for build
#  build --local_ram_resources=HOST_RAM*.5 --local_cpu_resources=8

common --incompatible_enable_proto_toolchain_resolution

# Show us information about failures.
build --verbose_failures
test --test_output=errors


# This tells Bazel how to interact with the version control system
# Enable this with --config=release
#  build:release --workspace_status_command='echo "STABLE_GIT_COMMIT `git rev-parse --short HEAD`"'
